a.responsive-menu {display:none; }

@media (max-width: 990px) {
header .site-branding{display:inline-block; float:none;}
.site-branding {text-align:center;}
.main-navigation {padding-left:0; display:block; float:none; }
.main-navigation .container-menu { display: none; background:#fff; margin-right:0; }
.nav-menu > li > a {margin-right:0px;}
.main-navigation .search-top{top:-55px;}
a.responsive-menu {display:inline-block; float:right; margin-right:65px; margin-top:15px;}
 .main-navigation li {display: block; float:none; text-align:left; margin: 0; background:#444; }
 .main-navigation li a{color:#fff; margin-left:20px; margin-right:20px;}
 .nav-menu li  ul {display:none; visibility:visible; position:static;  background:#444; border:none;}
 .nav-menu > li:hover > ul {visibility:visible; position:static; background:#444;  transform: translate(0,-10px); }
}

@media (max-width:420px){
	header.site-header {padding:0 20px;}
	header .site-branding, a.responsive-menu {display:inline-block; }
}